* {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    width: 100%;
}
  
html, body {
    height: 100%;
    margin: 0;
}

h1 {
    color: black;
    padding: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 95%;
}
  
#root {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}