* {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
}
  
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: black;
    padding: 5px;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

a {
    width: 45%;
    margin: 10px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.crossed-out {
    text-decoration: line-through;
}

.assignments-table {
    width: 100%;
    table-layout: fixed;
}

.assignments-table td {
    width: 33.33%;
    vertical-align: top;
}
  
#root {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}